@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Righteous";
    src: local("Righteous"),
        url("./assets/fonts/Righteous-Regular.ttf") format("truetype");
}

:root {
    --primary-color-light: #ffffff;
    --primary-color-light-bis: #dacceb;
    --primary-color-dark: #6f36ba;
    --primary-color-dark-bis: #571c87;

    --secondary-color-light: #6f36ba;
    --secondary-color-light-bis: #571c87;
    --secondary-color-dark: #ffffff;
    --secondary-color-dark-bis: #dacceb;

    --third-color: #fc850d;
    font-family: "Righteous";
}

#theme-light {
    min-height: 100vh;
    background-color: var(--primary-color-light);
    color: var(--secondary-color-light);
}

#theme-dark {
    min-height: 100vh;
    background-color: var(--primary-color-dark);
    color: var(--secondary-color-dark);
}

#theme-light #card {
    background-color: var(--secondary-color-light);
    color: var(--secondary-color-dark);
}

#theme-dark #card {
    background-color: var(--primary-color-dark-bis);
}

#theme-light #footer {
    background-color: var(--primary-color-light-bis);
}

#theme-dark #footer {
    background-color: var(--primary-color-dark-bis);
}